Source: neofs-locode-db
Section: misc
Priority: optional
Maintainer: NeoSPCC <tech@nspcc.ru>
Build-Depends: debhelper-compat (= 13), git, devscripts, wget, neofs-cli
Standards-Version: 4.5.1
Homepage: https://fs.neo.org/
Vcs-Git: https://github.com/nspcc-dev/neofs-locode-db.git
Vcs-Browser: https://github.com/nspcc-dev/neofs-locode-db

Package: neofs-locode-db
Architecture: any
Depends: ${misc:Depends}
Description: Compiled UN/LOCODE database for NeoFS
 NeoFS uses UN/LOCODE in storage node attributes and storage policies.
 Inner ring nodes converts UN/LOCODE into human-readable set of attributes
 such as continent, country name, etc.
